@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700);

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	text-wrap: balance;
}

.page {
	height: 100%;
}

.page__body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: var(--basic-black);
	background-color: var(--basic-white);
	min-height: 100%;
	min-width: 320px;
}
  
  .display-none {
	display: none;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
